
body {
  font-family: "Montserrat";
  font-weight: 100;
  text-align: center;
}


h1, h2, h3, {
  font-family: "Montserrat-Bold";

}


p {
  color: #8f8f8f;
  font-family: "montserrat-light";
}

/* Headings */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 400;
}


/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
    background-color: #fff;
}


/* Navigation Bar */

.navbar  {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: normal;
}

.nav-item {
  padding-left: 18px;
  padding-right:18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Download Buttons */

.downloadbutton {
  margin: 5% 3% 5% 0
}



/* Title Section */


#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */
.dog-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Font awesome icons */



/* Features Section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.feature-box {
  padding: 5%;
}

.icon {
  margin-bottom: 1rem;
  color: #ef8172;
  size: 4px
}

.icon:hover {
  color: #ff4c68;
}

/* Testomonial Section */

#Testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 400;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Website Links */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;

}

/* Pricing Section */

#pricing {
  /* padding: 100px; */
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 400;
}

.container-fluid-pricing {
  padding-bottom: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .dog-image {
    position: static;
    transform: rotate(0);
  }

}


/* Call to Action */

.cta-button {
  margin: 30px 10px 0;
}

/* Footer */

#footer {


}

.social-media-icons {
  padding: 80px 0 10px;
}
